html{
	width: 100%;
}
body{
	margin:0;
	font-family: "Helvetica Neue", Helvetica, Arial;
	background: #FFFFFF;
	width: 100%;
}
h2 {
	float: left;
	text-align: center;
	color: #f2f2f2;
	height: 30px;
	padding: 0px 15px;
	font-size: 15px;
}


input[type=button], input[type=submit], input[type=reset]{
/*     width: 100%; */
	background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-weight: bold;
	border-radius: 15px;
	opacity: 0.8;
}



.button { 
	background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-weight: bold;
	border-radius: 15px;
	opacity: 0.8;
}

.topnav {
	 font-weight:100;
    background: rgba(0,0,0, 0.5);
    overflow: hidden;
    width:100%;
	border-style:solid;
	border: 0;
}

/* Style for the links inside the navbar (HOME AND LOGIN) */


#info{
	font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
	font-weight:100;
	background: rgba(0,0,0,0.3);
	color: white;
	padding: 2rem;
	  width: 33%;
	margin:2rem;
	float: right;
	font-size: 1.2rem;
}

.topnav a {
    float: left;
    text-align: center;
    color: #f2f2f2;
    padding: 0px 5px;
	height: 60px;
    text-decoration: none;
    font-size: 25px;
	transition: .3s background;
}

/* Navbuttons turn white when mouse hovered over them */

.topnav a:hover {
    background: rgba(150,150,150, 0.8);
}

#user_text {
	font-size: 18px;
	float: left;
	margin-left: 20px;
}

#reg{
    float: right;
}

#login{
    float: right;
	
}

#logout{
    float: right;
}
/* Moving the logo image to the centre of the navbar */

#logo {
	position: fixed;
	color: white;
	width: 40%;
	text-align: right;
	font-size: 25px;
	margin-top: 15px;
	margin-left: 15%
}



/*---------------------------------------------HOME PAGE LAYOUT---------------------------------------------*/
.layout {
    width: 100%;
    overflow:auto;
    padding: 25px;
    position: absolute;
    top: 50%;
}

.fleft {
    float:left; 
    width: 30%;
    background-color:transparent;
    margin-left: 7%;
}

#fcentre{
    float:left;
    width: 30%;
    background-color:transparent;
    height:400px;
}

.fright {
    float: right;
    background-color:transparent;
    height: 400px;
    width: 30%;
    
}




.main_buttons {
    display: inline-block;
    object-fit: contain;
    width: 20%;
}

.main_buttons img {
    border-radius: 25px;
	position: relative;
    width: 100%;
    object-fit: contain;
	transition: all 0.5s;
	display: inline-block;
}

.main_buttons h2 {
	opacity: 0;
	position: absolute;
	z-index:100;
	font-size: 16px;
	font-size: 1.5vw;
	transition: all 0.5s;
	color: white;
	text-align: center;
	vertical-align: middle;
	padding-top: 4%;
}

.main_buttons:hover img {
	opacity: 0.4;	
}

.main_buttons:hover h2 {
	opacity: 1;
	color: white;
}



.main_buttons_sup {
    display: inline-block;
    object-fit: contain;
    width: 20%;
}

.main_buttons_sup img {
    border-radius: 25px;
	position: relative;
    width: 100%;
    object-fit: contain;
	transition: all 0.5s;
	display: inline-block;
	opacity: 0.5;
}

#sup_home_text {
	z-index:100;
	font-size: 16px;
	font-size: 1.5vw;
	color: black;
}


/*-------------------------Stuff for profile page---------------------------*/


#profile_header h2 {
	font-size: 20%;
	margin-top: 10%;
	margin-left: 40%;
	color: white;
}

#profile_info {
	margin-top: 7.5%;
	font-size: 20px;
	color: #FFF;
	
}


/*------------------------------------- SIDE NAV BAR STYLING------------------------------------- */

#sidebar {
	width:80px;
	height: calc(100% - 60px);
	position:absolute;
	top:60px;
	left:0;
	z-index:100;
	background: rgba(0,0,0, 0.5);
	/*background:linear-gradient(#004893,#0097CB);*/
	color:#fff;
	overflow:hidden;
}
#sidebar ul {margin:0;
	padding:0;
	width:190px;
	margin-top:40px;
	margin-left:10px;
	list-style:none;
}
#sidebar a span {
	margin:0 30px 0 10px;
}
#sidebar a {
	/*color: #D3D3D3;*/
	/* this scales text size with window size a bit */
	/*font-size: calc(10px + 0.8vw);*/
	text-decoration: none;
	display: block;
	width: 80%;
	border: none;
	font-size: 1.3rem;
	/*background: rgba(255,255,255,0.23);*/
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s background;
}

#sidebar a:hover {
	background: rgba(150,150,150, 0.8);
	/*text-shadow: 4px 4px 2px rgba(0,0,0, 0.9);*/
	/* text glows with colour of lighter cap blue */
	text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}



/*------------------------------------- LOGIN STYLING ------------------------------------- */

.container {
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
}

#sign_up {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#log_in {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

.header {
    margin-bottom: 20px;
}

.header h3 {
    color: #333333;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 5px;
}

.header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

.sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}

.inputs {
    margin-top: 25px;
}

.inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

.inputs input[type=email], input[type=password], input[type=text] {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}



.inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

.inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

.inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

.inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
	background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

.inputs #submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popuptext {
    width: 200px;
		height: 30px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 8px 0;
		float:right;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popuptext{
    -moz-animation: cssAnimation 5s;
    /* Firefox */
    -webkit-animation: cssAnimation 5s;
    /* Safari and Chrome */
    -o-animation: cssAnimation 5s;
    /* Opera */
    animation: cssAnimation 5s ;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


@keyframes cssAnimation {
	from {opacity: 1;}
    to {
		opacity: 0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
	from {opacity: 1;}
    to {
		opacity:0 ;
        visibility:hidden;
    }
}



/*----------------------------CSS FOR THE PAYPAL BUTTON---------------------------*/
.paypal-button {
    position: absolute;
    top: 50%; bottom:0; left: 40%; right:50%;
}

div.relative {
    position: relative;
    left: 100px;
	top: 100px;
}

/*-----------------Main Page Table ------------------------*/

table {
	/*margin: auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
	font-size: 12px;*/
	
	margin:auto;
	font-family: "Helvetica Neue", Helvetica, Arial;
	background: rgba(0,0,0,0.3);
}

h1 {
	margin: 25px auto 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 26px;
}

table td {
	transition: all .5s;
}
        
/* Table */
.data-table {
	border-collapse: collapse;
	font-size: 14px;
	min-width: 537px;

}

.data-table th, 
.data-table td {
	/*border: 1px solid #e1edff;
	padding: 7px 17px;*/
	border: none;
	border: 1px solid #FFFFFF;
	padding: 7px 17px;
	min-width: 30px;
	max-width: 300px;
}
.data-table caption {
	margin: 7px;
}

/* Table Header */
.data-table thead th {
	/*background-color: #508abb;
	color: #FFFFFF;
	border-color: #6ea1cc !important;
	text-transform: uppercase;*/
	
	padding: 0px 25px 25px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
	background: rgba(0,0,0,0.3);
	border-color: #6ea1cc !important;
	border:none;
	text-transform: uppercase;
}

/* Table Body */
.data-table tbody td {
	/*color: #353535;*/
	background-color: rgba(0,0,0,0.3);
	color: #FFFFFF;
	padding: 0px 40px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border:none;
}
.data-table tbody td:first-child,
.data-table tbody td:nth-child(4),
.data-table tbody td:last-child {
	background: rgba(0,0,0,0.3);
	text-align: right;
}

.data-table tbody tr:nth-child(odd) td {
	/*background-color: #f4fbff;*/
	background: #353535;
          color:#FFFFFF;
          opacity: 0.7;
}
.data-table tbody tr:hover td {
	/*background-color: #ffffa2;
	border-color: #ffff0f;*/
	
	background: rgba(0,0,0,0.9);
             color:#FFFFFF;
}

.data-table tbody tr td:last-child:hover {
        background-color: #06c;
}

/* Table Footer */
/*.data-table tfoot th {
	background-color: #e5f5ff;
	text-align: right;
}
.data-table tfoot th:first-child {
	text-align: left;
}
.data-table tbody td:empty
{
	background-color: #ffcccc;
}*/

/*-----------------------Buttons for plus and minus from basket-----------------------*/
.count-input {
  position: relative;
  width: 100%;
  max-width: 165px;
  margin: 10px 0;
}
.count-input input {
  width: 100%;
  height: 36.92307692px;
  border: 1px solid #000;
  border-radius: 2px;
  background: none;
  text-align: center;
}
.count-input input:focus {
  outline: none;
}
.count-input .incr-btn {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration:none;
}
.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 46%;
}
.count-input.count-input-sm {
  max-width: 125px;
}
.count-input.count-input-sm input {
  height: 36px;
}
.count-input.count-input-lg {
  max-width: 200px;
}
.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}



#page-wrap {
  width: 500px;
  margin: 100px auto;
}

/* form { */
/*   margin: 50px 0 0 0; */
}
label {
  font: bold 20px Helvetica, sans-serif;
  display: block;
  float: left;
  text-align: right;
  padding: 5px 10px 0 0;
  width: 140px;
}
/**
EDIT PLS - make it more specific so it doesnt effec other text boxes
input[type=text] {
  float: left;
  width: 40px;
  font: bold 20px Helvetica, sans-serif;
  padding: 3px 0 0 0;
  text-align: center;
}*/
form div {
  overflow: hidden;
  margin: 0 0 5px 0;
}


.plusbutton { 
  margin: 0 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: left;
  text-align: center;
  background: url(../images/icons/plus.png) no-repeat;
}

.minusbutton { 
  margin: 0 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: left;
  text-align: center;
  background: url(../images/icons/minus.png) no-repeat;
}

.inc_button {
	object-fit: contain;
	width: 60px;
	height: 40px;
	background: url(../images/icons/plus.png) no-repeat;
	float: left;
	text-align: center;
	cursor:pointer;
	margin: 0 0 0 5px;
	text-indent -9999px;
}
	
.dec_button {
	width: 30px;
	height: 30px;
 	background: url(../images/icons/minus.png) no-repeat; 
	float: left;
	text-align: center;
	cursor:pointer;
	margin: 0 0 0 5px;
	text-indent -9999px;
}


.dec {
  background-position: 0 -29px;
}

.inc {
  background-position: 0 -29px;
}	
	
.buttons {
  padding: 20px 0 0 140px;
}
	
	
/*-------------------Stuff for menu buttons-----------------------*/


.filter_buttons {
	/*margin: 5% 0 0 300px;
	width: 50px;
	height: auto;*/
	margin: auto;
	background: rgba(0,0,0,0.3);
	position: fixed;
	top: 100px;
	left: 120px;
	min-width: 140px;
	overflow:hidden;
	text-align: center;
}

.filter_buttons  li:hover{
 background: rgba(0,0,0,1);

}

.filter_buttons ul button {
	margin: auto;
    min-width: 140px;
	height: 32px;
    color: #FFFFFF;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    text-align: left;
}


#count-input a {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}


.qty_btn {
   width: 20px; /* I took the width from your post and placed it in css */
   height: 20px;
}

/* This will style any <img> element in .parent div */
.qty_btn img {
   height: 100%;
   width: 100%;
}

#basketBtn {
	float:right;
}


/* Supplier data table for menu */

.data-table-sup {
	border-collapse: collapse;
	font-size: 14px;
	min-width: 537px;
}

.data-table-sup th, 
.data-table-sup td {
	/*border: 1px solid #e1edff;*/
	border: none;
	border: 1px solid #FFFFFF;
	padding: 7px 17px;
	min-width: 20px;
	max-width: 250px;
}
.data-table-sup caption {
	margin: 7px;
}

/* Table Header */
.data-table-sup thead th {
	color: white;
	background: rgba(0,0,0,0.7);
	text-transform: uppercase;
}

.data-table-sup thead tr th:last-child {
	background-color: white;
}

/* Table Body */
.data-table-sup tbody td {
	background-color: rgba(0,0,0,0.3);
	color: #FFFFFF;
}

.data-table-sup tbody td:nth-child(3),
.data-table-sup tbody td:nth-child(4),
.data-table-sup tbody td:nth-child(5),
.data-table-sup tbody td:nth-child(6),
.data-table-sup tbody td:nth-child(7),
.data-table-sup tbody td:nth-child(8),
.data-table-sup tbody td:nth-child(9),
.data-table-sup tbody td:nth-child(10),
.data-table-sup tbody td:nth-child(11),
.data-table-sup tbody td:nth-child(12),
.data-table-sup tbody td:nth-child(13) {
	text-align: center;
}

.data-table-sup tbody tr:nth-child(odd) td {
	background-color: rgba(0,0,0,0.5);
	color:#FFFFFF;
}

.data-table-sup thead td:nth-child(13),
.data-table-sup tbody tr td:nth-child(13) {
	background-color: rgb(255, 255, 255);
	color: white;
}

.data-table-sup tbody tr:hover td {
	background: rgba(0,0,0,0.8);
	color:#FFFFFF;
}

.data-table-sup tbody tr td:last-child:hover {
    background-color: #dc0000;
}




.sup_menu_update {
	background-color: white;
}

input[type="checkbox"] {
  transform:scale(1.5, 1.5);
}




/* cart n stuff*/

.shoppingbasket {
	width:190px;
	height:40px;
	position:relative;
}
.basketitems {
	width:10px;
	height:14px;
	color:#fff;
	font-size:80%;
	background-color:#e74c3c;
	position:absolute;
	top:50%;
	left:10%;
	-webkit-transform:translate(-50%,-90%);
	-moz-transform:translate(-50%,-90%);
	transform:translate(-50%,-90%);
	padding:0 4%;
	border-radius:10px;
	text-align: center;
}


#myRadioGroup {
	color: white;
	position: relative;
	left: -10%;
}





