html{
}
body{
  margin:0;
	font-family: "Helvetica Neue", Helvetica, Arial;
	background: #000;
}

img {
    object-fit: contain;
		transition: all 0.5s;
		display: inline-block;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.stopfade {
   opacity: .5;
}

h1 {
	padding-left: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial;
	float:left;
  text-transform: uppercase;

}

h2 {
				float: left;
				text-align: center;
				color: #f2f2f2;
				height: 30px;
				padding: 0px 15px;
				font-size: 15px;
}

#info{
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}

#myTopnav a {
  display: block;
  padding: .4rem;
  border: none;
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}
#myTopnav  a:hover {
   background: rgba(0,0,0,0.5);
}

#myTopnav {
	font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.3);
  color: white;
}

#reg{
    float: right;
}

#login{
    float: right;
}

#logout{
    float: right;
}
/* Moving the logo image to the centre of the navbar */
#logo{
    position: relative;
    top: 3px; bottom:0; left: 40%; right:50%;
    font-family: sans-serif;
    height:50px;
    width:50px;
		border-radius: 6px;
}
/*------------------------------------- SIDE NAV BAR STYLING------------------------------------- */

#sidebar {
	font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,72,147, 0.8);
  color: white;
	width:80px;
	height:100%;
	position: fixed;
	top:60px;
	left:0;
	z-index:100;
	overflow:hidden;
}
#sidebar ul {margin:0;
	padding:0;
	width:240px;
	margin-top:40px;
	margin-left:10px;
	list-style:none;
}
#sidebar a span {
	margin:0 30px 0 10px;
}
#sidebar a {

	text-decoration: none;
	display: block;
	width: 80%;
	border: none;
	font-size: 1.3rem;
	background: rgba(255,255,255,0.23);
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s background;
}

#filter_buttons ul {
background: rgba(0,0,0,0.3);
position: fixed;
top: 45px;
left: 100px;
min-width: 140px;
overflow:hidden;
}

#filter_buttons  a:hover{
 background: rgba(0,0,0,1);

}

#filter_buttons ul button {

    min-width: 140px;
    overflow:hidden;
    color: #FFFFFF;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    text-align: left;
}

#sidebar a:hover {
   background: rgba(0,0,0,0.5);
}

/*---------------------------------------------HOME PAGE LAYOUT---------------------------------------------*/
.layout {
    width: 100%;
    overflow:auto;
    padding: 25px;
    position: absolute;
    top: 50%;
}

.fleft {
    float:left;
    width: 30%;
    background-color:transparent;
    margin-left: 7%;
}

#fcentre{
    float:left;
    width: 30%;
    background-color:transparent;
    height:400px;
}

.fright {
    float: right;
    background-color:transparent;
    height: 400px;
    width: 30%;

}


.main_buttons {
    display: inline-block;
    object-fit: contain;
    width: 20%;
}

.main_buttons img {
    border-radius: 25px;
		position: relative;
    width: 100%;
    object-fit: contain;
		transition: all 0.5s;
		display: inline-block;
}

.main_buttons h2 {
		opacity: 0;
		position: absolute;
		z-index:100;
		font-size: 16px;
		font-size: 1.5vw;
		transition: all 0.5s;
		color: black;
		text-align: center;
		vertical-align: middle;

}

.main_buttons:hover img {
		opacity: 0.45;
}

.main_buttons:hover h2 {
		opacity: 1;
		color: black;
}

/*------------------------------------- LOGIN STYLING ------------------------------------- */

.container {
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
}

#sign_up {
    padding: 0px 25px 25px;
    background: rgba(0,0,0,0.3);
    box-shadow:
        0px 0px 0px 5px rgba( 255,255,255,0.4 ),
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
		color: white;
    display: table;
    position: static;
}

#log_in {
    padding: 0px 25px 25px;
    background: rgba(0,0,0,0.3);
    box-shadow:
        0px 0px 0px 5px rgba( 255,255,255,0.4 ),
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
		color: white;
    display: table;
    position: static;
}

.header {
    margin-bottom: 20px;
}

.header h3 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 5px;
}

.header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

.sep {
    height: 1px;
    background: white;
    width: 406px;
    margin: 0px -25px;
}

.inputs {
    margin-top: 25px;
}

.inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

.inputs input[type=email], input[type=password], input[type=text] {
    background: rgba(0,0,0,0.3);
		color: #FFFFFF;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
		outline: none;
		  box-shadow: 0px 0px 0px 3px #b5b5b5, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
}

.inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

.inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

.inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

.inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        black 0%,
        black);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#b5b5b5),
        to(#FFFFFF));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

.inputs #submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#FFFFFF),
        to(#a9a9a9));
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popuptext {
    width: 200px;
		height: 30px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 8px 0;
		float:right;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popuptext{
    -moz-animation: cssAnimation 5s;
    /* Firefox */
    -webkit-animation: cssAnimation 5s;
    /* Safari and Chrome */
    -o-animation: cssAnimation 5s;
    /* Opera */
    animation: cssAnimation 5s ;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
		from {opacity: 1;}
    to {
				opacity: 0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
		from {opacity: 1;}
    to {
				opacity:0 ;
        visibility:hidden;
    }
}

/*-----------------Main Page Table ------------------------*/

table {
            margin:auto;
            font-family: "Helvetica Neue", Helvetica, Arial;
            background: rgba(0,0,0,0.3);
        }

        h1 {
            margin: 25px auto 0;
            text-align: center;
            text-transform: uppercase;
            font-size: 17px;
        }

        table td {
            transition: all .5s;
        }

        /* Table */
        .data-table {
            border-collapse: collapse;
            font-size: 14px;
            min-width: 537px;
        }

        .data-table th,
        .data-table td {
          border: none;
            border: 1px solid #FFFFFF;
            padding: 7px 17px;
            min-width: 150px;
            max-width: 300px;
        }
        .data-table caption {
            margin: 7px;
        }

        /* Table Header */
        .data-table thead th {
          padding: 0px 25px 25px;

          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          color: white;
          background: rgba(0,0,0,0.3);
            border-color: #6ea1cc !important;
            border:none;
            text-transform: uppercase;
        }

        /* Table Body */
        .data-table tbody td {
            background-color: rgba(0,0,0,0.3);
            color: #FFFFFF;
            padding: 0px 40px 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border:none;

        }
        .data-table tbody td:first-child,
        .data-table tbody td:nth-child(4),
        .data-table tbody td:last-child {
          background: rgba(0,0,0,0.3);
            text-align: right;
        }

        .data-table tbody tr:nth-child(odd) td {
          background: #353535;
          color:#FFFFFF;
          opacity: 0.7;
        }

        .data-table tbody tr:hover td {
             background: rgba(0,0,0,0.9);
             color:#FFFFFF;
        }

        .data-table tbody tr td:last-child:hover {
        background-color: #06c;
        }
        /*-----------------------Buttons for plus and minus from basket-----------------------*/
        .request {
          position: relative;
          max-width: 165px;
          margin: 10px 0
        }
        .request a {
          position: absolute;
          font-size: 15px;
          font-weight: 300;
          text-align: middle;
          line-height: 30px;
          right: 0;
          margin-top: -15px;
          text-decoration:none;
        }
